body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5429ff;
  font-family: arial;
  color: #fff;
  background-image: url('./assets/background-bars.svg');
  background-repeat: no-repeat;
  /* background-position: 0% 10%; */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

#instructions {
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top:16px;
  text-align: center;
  width: 100%;
}

#gameContainer {
  position: relative;
  width: 600px;
  height: 400px;
  border: 0px solid #000;
  background-color: #180c49;
  overflow: hidden;
  border-radius: 12px;
}

.logo {   
  margin-top: 3rem;
  width: 409px;
  height: 71px;
  margin-bottom: 8px;
  background-image: url('./assets/email-attack.svg'); /* Replace with logo image URL */
  background-repeat: no-repeat;
  background-size: 409px 71px;
}

#georgeface {
  position: absolute;
  bottom: 20px;
  left: 60px;
  width: 60px;
  height: 60px;
  background-image: url('https://i.ibb.co/JnrpZ8k/GL-face.png'); /* Replace with your face image URL */
  background-size: cover;
}

.obstacle {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 29px;
  background-image: url('./assets/envelope.svg'); /* Replace with cardboard box image URL */
  background-size: cover;
  top: 50%; /* Initial positioning to avoid overlapping */
  top: -100px; /* Position off-screen initially */
  left: -100px; /* Position off-screen initially */
}

#obstacle1 {
  right: 0;
}
#obstacle2 {
  right: 150px;
}
#obstacle3 {
  right: 300px;
}
#obstacle4 {
  right: 450px;
}

#gameOverMessage {
  display: none;
  position: absolute;
  background-position: center;
  width: 600px;
  height: 400px;
  background-image: url('./assets/game-over.svg'); /* Replace with your game over image URL */
  background-size: 348px 135px;
  background-repeat: no-repeat;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1em;
  font-family: monospace;
  color: #fff;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  font-size: 1em;
  cursor: pointer;
  display: block;
  border-radius: 0px;
  color: #5429FF;
  font-family: monospace;
}

#mobileMessage {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(106, 0, 255, .9);
  color: white;
  margin: 1rem;
  padding: 2.5rem;
  font-size: 1.5em;
  text-align: left;
  z-index: 1000;
}

.mobileText {
  padding: 2rem;
}

@media (max-width: 768px) {
  #gameContainer {
    display: none;
  }

  #mobileMessage {
    display: block;
  }
}
